<link rel="stylesheet" href="/stylesheets/main.css">


<h1>Music Database<img class="mongo-logo" src="img/MongoDB_Logo_FullColorBlack_RGB-4td3yuxzjs.png" alt=""></h1>
<h3>Artist Index</h3>


<table>
    <tr>
        <th>Artist</th>
        <th>Genre</th>
        <th>Country</th>
    </tr>
    <% bands.forEach((band)=>{ %>
    <tr>
        <form action="/artist/<%= band._id %>?_method=DELETE" method="POST">
        <td><a href="/artist/<%= band._id %>"><%= band.name %></a><span><input type="submit" class="del-button" value="X"></span></td>
        </form>
        <td><%= band.genre %></td>
        <td><%= band.country %></td>
    </tr>
    <% }); %>
</table>
<br><br>
<a href="/artist/new">Add Artist</a>